.cover-image-cropper::before{
    position: absolute;
    content: "";
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,0.4);
  }
  nav>ul>li{
      font-size: 18px;
  }
  nav > a{
      display: flex;
      cursor: pointer;
      font-size: 35px;
      font-weight: 400;
      color: white;

  }
  nav > a:hover{
      text-decoration: none;
  }
  .navbar-light .navbar-nav .nav-link{
    color: white;

}
.cover-image-cropper > img{
    height: 720px;
}
.card-img-overlay > h1{
    margin-top: 20%;
    text-align: center;
}
.card-img-overlay > h1 > b{
    font-size: 4rem !important;
}
.header-color {
  background-color: black;
}
.second-Section{
    background-color: gainsboro;
    color: black;
}

.thrid-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.thrid-section > h1{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 800;
}
.thrid-section .material-icons{
    font-size: 4rem;
    text-align: center;
    color: goldenrod;
}
.thrid-section .card{
    border-bottom:3px solid goldenrod;
}
.footer{
    padding: 50px 0px 20px ;
}
.footer ul {
    padding-left: 0;
    list-style-type: none;
}
.footer a{
    color: white;
}
.footer a:hover{
    text-decoration: none;
    color: goldenrod;
}
.footer hr{
    margin-bottom: 20px;
    border-top: 2px solid goldenrod;
}
.footer .social a{
    font-size:25px;
    margin-right: 10px;
}

@media only screen and (max-width : 768px) 
{
    .cover-image-cropper > img{
        background-position: center;
        height: 350px;
    }
    .card-img-overlay > h1{
        margin-top: 15%;
        font-size:2.5rem;
        text-align: center;
    }
    .thrid-section .card{
        margin-top: 20px;
    }
}

